<%- include('../components/header', {title: 'Login' }); %>
  <%- include('../components/navbar', { user }) %>
    <div class="container">
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">LOGIN</h1>
        <p class="fs-5 text-muted">Please fill the form below to login!</p>
      </div>
      <form method="POST" action="/auth/login" class="m-auto w-50 ">
        <% if(error) { %>
          <div class="alert alert-danger" role="alert">
            <%=error%>
          </div>
          <% } %>
            <% if(message) { %>
              <div class="alert alert-success" role="alert">Register success, you can login now! </div>
              <% } %>
                <%- include('../components/form/form-input', {type: 'text' , label: 'Username' , name: 'userName' ,
                  value: false}) %>
                  <%- include('../components/form/form-input', {type: 'password' , label: 'Password' , name: 'password'
                    , value: false}) %>
                    <input type="submit" value="Submit" class="btn btn-primary d-flex m-auto" />
      </form>
    </div>
    <%- include('../components/footer') %>